<launch>
	<include file="$(find motor_gazebo)/launch/motor_gazebo.launch">
		<arg name="paused" value="false"/>
		<arg name="gui" value="false"/>
	</include>

	<!--	<include file="$(find motor_description)/launch/motor_rviz.launch"/> -->

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<rosparam param="source_list">["/motor/joint_states"]</rosparam>
	</node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

	<node name="motor_controller" pkg="motor_controller" type="motor_controller_node"/>

	<node name="rqt" pkg="rqt_gui" type="rqt_gui" required="true"
		args="--perspective-file $(find motor_rqt)/perspective/motor_v5.perspective"/> 

</launch>

