<launch>
	<arg name="model" default="$(find motor_description)/urdf/motor.urdf"/>
	<arg name="paused" default="true"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="gui" default="true"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="paused" value="$(arg paused)"/>
		<arg name="use_sim_time" value="$(arg use_sim_time)"/>
		<arg name="gui" value="$(arg gui)"/>
		<arg name="world_name" value="$(find motor_gazebo)/worlds/motor.world"/>
	</include>

	<param name="robot_description" command="cat $(arg model)"/>

	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
		args="-urdf -model motor -param robot_description" respawn="false" output="screen"/>

	<node name="initialize_control_loop" pkg="rostopic" type="rostopic" args="pub -1 /motor_sim/effort sensor_msgs/JointState '{effort:[0.0]}'" output="screen"/>

</launch>
